
<div class="login-form">
    <form id="emailform" method="" (ngSubmit)='getEmailFromUser(getEmailFromUserToGetOTP)'>
        <h2 class="text-center">Enter E-mail Id</h2>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter E-mail" required="required"
                [(ngModel)]=getEmailFromUserToGetOTP.email [ngModelOptions]="{standalone: true}">
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary button">Get OTP</button>
            <button type="reset" class="btn btn-primary" routerLink="/">Cancel</button>
        </div>

    </form>

    <form id="otpform" method="" (ngSubmit)='getOTPFromUser(inputOTP)' style="display: none;">
        <h2 class="text-center">Enter OTP sent to your E-mail Id</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter OTP sent to your E-mail" required="required"
                [(ngModel)]=inputOTP.otp [ngModelOptions]="{standalone: true}">
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary button">Submit OTP</button>
            <button type="reset" class="btn btn-primary" routerLink="/">Cancel</button>
        </div>

    </form>
    
</div>
