/* You can add global styles to this file, and also import other style files */
.top
        {
            text-align:center;
            background-color: darkslategray;
            opacity:0.8;
            color:white;
            height:80px;

        }

        .big
        {
            font-size: larger;
        }
        ul{
            list-style-type: none;
        }