
<table class="table table-striped">
    <tr>
        <td>First Name</td>
        <td>{{customer.firstName}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{customer.lastName}}</td>
    </tr>
    <tr>
        <td>E-Mail</td>
        <td>{{customer.email}}</td>
    </tr>
    <tr>
        <td>Phone Number</td>
        <td>{{customer.phNo}}</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>{{customer.password}}</td>
    </tr>
    <tr>
        <td>Authorized?</td>
        <td>{{customer.authorized}}</td>
    </tr>
    <tr>
        <td>Wallet Amount</td>
        <td>{{customer.walletAmount}}</td>
    </tr>
    <tr>
        <td>Dob</td>
        <td>{{customer.dob}}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{customer.address}}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>{{customer.gender}}</td>
    </tr>
</table>

